.homeRoute :global(.vtex-flex-layout-0-x-flexRow--wrapper-topbar) {
  display: block;
}

@media (min-width: 1100px) {
  .homeRoute {
    position: absolute !important;
    left: 0;
    right: 0;
  }
}