.newsletterForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.emailInputContainer {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 342px;
}
.emailInputContainer :global(.vtex-input__error) {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 10px;
  margin: 0;
}
.emailInputContainer :global(.vtex-input-prefix__group) {
  height: 32px;
  border-radius: 999px;
  border: 0;
  overflow: hidden;
}
.emailInputContainer :global(.vtex-input-prefix__group):hover,
.emailInputContainer :global(.vtex-styleguide-9-x-input):hover {
  border-color: transparent;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input) {
  padding: 0 16px;
  color: #A2A2A2;
  background: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  border-radius: 999px;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #A2A2A2;
}

.formSubmitContainer :global(.vtex-button) {
  border: 0;
  border-radius: 999px;
  background: #F6BE3D;
  color: #050505;
  font-size: 14px;
  font-weight: 700;
  text-transform: initial;
  min-height: 32px;
  padding: 0 26px;
  width: 152px;
  line-height: 18px;
}
.formSubmitContainer :global(.vtex-button):hover {
  background: #F2AF1F;
}
.formSubmitContainer :global(.vtex-button__label) {
  padding: 0 !important;
}

@media (max-width: 991px) {
  .newsletterForm {
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .newsletterForm {
    flex-direction: column;
    width: 100%;
  }

  .emailInputContainer,
  .formSubmitContainer,
  .formSubmitContainer :global(.vtex-button) {
    width: 100%;
    max-width: 100%;
  }
}
