.paginationDot {
  background: #FFFFFF;
}

.sliderArrows {
  color: #7E7E7E;
}

/* SLIDER PRINCIPAL */
.paginationDot--main-slider {
  background: #2F2F2F;
  width: 8px !important;
  height: 8px !important;
}
.paginationDot--main-slider--isActive {
  background: #FA0209;;
}

.paginationDotsContainer--main-slider {
  bottom: -25px;
}

.caretIcon--main-slider {
  display: none;
}

.sliderLeftArrow--main-slider::before {
  content: "";
  background-image: url("assets/icons/arrow_back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 128px;
}

.sliderRightArrow--main-slider::before {
  content: "";
  background-image: url("assets/icons/arrow_next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 128px;
}

/* SLIDER PRODUTOS */
.sliderArrows--shelf-carousel {
  background: transparent;
  color: #7E7E7E;
  width: 50px;
  height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 6px #00000029;
  top: 35%;
}
.sliderLeftArrow--shelf-carousel {
  left: -15px;
}
.sliderRightArrow--shelf-carousel {
  right: -15px;
}

/* CONHECA NOSSAS LINHAS MOBILE */
.sliderLayoutContainer--home-linhas-gallery-mobile,
.sliderLayoutContainer--home-linhas-cards-mobile {
  padding-bottom: 28px;
}

.slide--home-linhas-gallery-mobile,
.slide--home-linhas-cards-mobile {
  padding: 0 6px;
}

.paginationDotsContainer--home-linhas-gallery-mobile,
.paginationDotsContainer--home-linhas-cards-mobile {
  bottom: 0;
}

.paginationDot--home-linhas-gallery-mobile,
.paginationDot--home-linhas-cards-mobile {
  width: 7px !important;
  height: 7px !important;
  background: #6f6f6f;
  box-shadow: none;
}

.paginationDot--home-linhas-gallery-mobile--isActive,
.paginationDot--home-linhas-cards-mobile--isActive {
  background: #FA0209;
}
