.container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.container :global(.vtex-button) {
  width: 122px;
  border: 0;
  min-height: 28px;
}
.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background: transparent;
}
.container :global(.vtex-button__label),
.arrowUp {
  display: none;
}

.box {
  right: 50% !important;
  transform: translate(50%, 0);
}

.sendButton :global(.vtex-button) {
  background: #F5BE4B;
  color:#050505;
  border: 0;
}
.optionsList :global(.vtex-button) {
  border: 0;
  font-size: 12px;
  color: #202020;
  background: #dedede;
}
.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
}

.content--emailVerification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 0 60px;
  background-color: transparent;
}

.content--login-content,
.content--emailAndPassword {
  background: transparent;
}

.content--login-content {
  width: 100%;
  max-width: 352px;
}

.contentForm {
  min-width: 325px;
}

.formLinkContainer {
  margin: 0;
}

/* .content--emailAndPassword,
.emailAndPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
} */

.formTitle {
  margin: 0 0 24px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

/* .inputContainer {
  margin-bottom: 18px;
} */

.inputContainer :global(.vtex-input-prefix__group) {
  height: 42px;
  border: 0;
  border-radius: 0;
  background: #fff;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
  height: 42px;
  padding: 0 10px;
  color: #202020;
  font-size: 14px;
  background: #fff;
}

.inputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #c7c7c7;
}

.eyeIcon {
  color: #777;
}

:global(.vtex-login-2-x-inputContainerPassword) :global(.vtex-input__suffix) {
  background-color: transparent;
}

.backButton {
  display: none;
}

.formFooter {
  display: flex;
  flex-direction: column;
  border: none;
}

.sendButton {
  order: 1;
  margin: 0;
}

.sendButton :global(.vtex-button) {
  width: 100%;
  padding-bottom: 14px;
  padding-top: 14px;
  border: 0;
  border-radius: 3px;
  background: #f5be4b;
  color: #050505;
}

:global(.vtex-login-2-x-sendButton) :global(.vtex-button__label),
:global(.vtex-login-2-x-sendButton) :global(.t-small) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px !important;
  font-size: 16px;
  font-weight: 700 !important;
  letter-spacing: 1px;
  text-transform: uppercase !important;
}

.dontHaveAccount {
  position: relative;
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  width: 100%;
}

.dontHaveAccount::after {
  position: relative;
  content: "Cadastre-se";
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  
}

.formFooter::after {
  position: relative;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
  content: "ou";
  color: #fff;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  background: linear-gradient(
    90deg,
    #fff 0,
    #fff calc(50% - 18px),
    transparent calc(50% - 18px),
    transparent calc(50% + 18px),
    #fff calc(50% + 18px),
    #fff 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

:global(.vtex-login-2-x-contentInitialScreen),
:global(.vtex-login-2-x-content--codeConfirmation),
.content--beginCreatePass {
  background-color: transparent;
}

:global(.vtex-login-2-x-content--emailVerification) :global(.vtex-login-2-x-formFooter::after) {
  display: none;
}

@media (max-width: 1024px) {
  .container :global(.vtex-button) {
    width: 28px;
  }

  .box {
    right: -30px !important;
    transform: translate(0, 0);
  }
}

/* MINICART */
:global(.vtex-product-list-0-x-productName) {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}
:global(.vtex-product-list-0-x-productBrandName) {
  display: none;
  margin: 0;
}
:global(.vtex-product-list-0-x-price--price-minicart) {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
:global(.vtex-flex-layout-0-x-flexColChild--minicart-product-info) {
  height: auto;
}
:global(.vtex-dropdown__button) {
  color: #FFFFFF;
}
:global(.vtex-dropdown__container) {
  border: none;
  background-color: #3D3D3D;
}
:global(.vtex-product-list-0-x-inputContainer) {
  width: 24px;
  padding: 0;
  border: none;
}
:global(.vtex-product-list-0-x-inputContainer) input {
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  font-size: 17px;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease),
:global(.vtex-product-list-0-x-quantitySelectorIncrease) {
  padding: 0;
  background-color: transparent;
  border: none;
}
:global(.vtex-product-list-0-x-quantitySelectorWrapper) {
  background-color: #3D3D3D;
  border-radius: 4px;
  height: 36px;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease:hover),
:global(.vtex-product-list-0-x-quantitySelectorIncrease:hover),
:global(.vtex-product-list-0-x-quantitySelectorDecrease:focus),
:global(.vtex-product-list-0-x-quantitySelectorIncrease:focus) {
  background-color: transparent;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease) svg,
:global(.vtex-product-list-0-x-quantitySelectorIncrease) svg {
  color: #F5BE4B;
  width: 14px;
  height: 14px;
  padding: 0 5px;
}
/* FIM MINICART */

/* PDP */

:global(.vtex-store-components-3-x-productBrand) {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
}
:global(.vtex-flex-layout-0-x-flexRowContent--actions-pdp-container) :global(.vtex-numeric-stepper-container) {
  min-height: 48px;
}
:global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-address-form-4-x-input) {
  color: #FFFFFF;
}

:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group) {
  position: relative;
}
:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group)::after {
  content: 'Insira o seu CEP';
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
  transition: opacity 0.3s ease;
  color: #474747;
}

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill,
:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill:hover,
:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px #1C1C1C inset;
  border-radius: unset;
  caret-color: #ffffff;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-breadcrumb-content) {
  margin: 20px 0 32px 0;
}
:global(.vtex-breadcrumb-1-x-term) {
  color: #FFFFFF;
}

:global(.vtex-product-summary-2-x-imageStackContainer) {
  border-radius: 8px;
}

:global(.vtex-product-summary-2-x-imageNormal) {
  border-radius: 8px;
}
/* FIM PDP */
