/* PÁGINA DE LOGIN */
:global(.vtex-login-2-x-providerPasswordButton) {
  display: block;
  margin: 0 auto;
}

/* BOTÃO LOGIN NO HEADER */
.container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.container :global(.vtex-button) {
  width: 122px;
  border: 0;
  min-height: 28px;
}
.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background: transparent;
}
.container :global(.vtex-button__label),
.arrowUp {
  display: none;
}

/* MINICART */
:global(.vtex-product-list-0-x-productName) {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}
:global(.vtex-product-list-0-x-productBrandName) {
  display: none;
  margin: 0;
}
:global(.vtex-product-list-0-x-price--price-minicart) {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
:global(.vtex-flex-layout-0-x-flexColChild--minicart-product-info) {
  height: auto;
}
:global(.vtex-dropdown__button) {
  color: #FFFFFF;
}
:global(.vtex-dropdown__container) {
  border: none;
  background-color: #3D3D3D;
}
:global(.vtex-product-list-0-x-inputContainer) {
  flex: 0 0 28px;
  width: 28px;
  padding: 0;
  border: none;
  text-align: center;
}
:global(.vtex-product-list-0-x-inputContainer) input {
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
  font-size: 17px;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease),
:global(.vtex-product-list-0-x-quantitySelectorIncrease) {
  display: flex;
  flex: 0 0 24px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 36px;
  padding: 0;
  background-color: transparent;
  border: none;
}
:global(.vtex-product-list-0-x-quantitySelectorWrapper) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  background-color: #3D3D3D;
  border-radius: 4px;
  height: 36px;
  overflow: hidden;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease:hover),
:global(.vtex-product-list-0-x-quantitySelectorIncrease:hover),
:global(.vtex-product-list-0-x-quantitySelectorDecrease:focus),
:global(.vtex-product-list-0-x-quantitySelectorIncrease:focus) {
  background-color: transparent;
}
:global(.vtex-product-list-0-x-quantitySelectorDecrease) svg,
:global(.vtex-product-list-0-x-quantitySelectorIncrease) svg {
  color: #F5BE4B;
  width: 14px;
  height: 14px;
  padding: 0;
}

/* PDP */
:global(.vtex-store-components-3-x-productBrand) {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
}
:global(.vtex-flex-layout-0-x-flexRowContent--actions-pdp-container) :global(.vtex-numeric-stepper-container) {
  min-height: 48px;
}
:global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}
:global(.vtex-store-components-3-x-shippingContainer) :global(.vtex-address-form-4-x-input) {
  color: #FFFFFF;
}

:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group) {
  position: relative;
}
:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group)::after {
  content: 'Insira o seu CEP';
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
  transition: opacity 0.3s ease;
  color: #CCCCCC;
}

:global(.dib.mr2) {
  font-weight: 400;
  color: #666666;
}

:global(.dib.mr2 strong) {
  font-weight: 400;
  color: #666666;
}

:global(ul.pa0.mv2.t-small) :global(li.dib.mr2),
:global(ul.pa0.mv2.t-small) :global(li.dib.mr5) {
  font-weight: 400;
  color: #666666;
}

:global(ul.pa0.mv2.t-small) :global(li.dib.mr2 strong),
:global(ul.pa0.mv2.t-small) :global(li.dib.mr5 strong) {
  font-weight: 400;
  color: #666666;
}

:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill,
:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill:hover,
:global(.vtex-store-components-3-x-shippingContainer)
  :global(.vtex-address-form-4-x-input):-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px #1C1C1C inset;
  border-radius: unset;
  caret-color: #ffffff;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-breadcrumb-content) {
  margin: 20px 0 32px 0;
}
:global(.vtex-breadcrumb-1-x-term) {
  color: #FFFFFF;
}

:global(.vtex-product-summary-2-x-imageStackContainer) {
  border-radius: 8px;
}

:global(.vtex-product-summary-2-x-imageNormal) {
  border-radius: 8px;
}

:global(.vtex-store-components-3-x-resultsList) {
  border-radius: 8px;
  border: none;
}

:global(.vtex-login-2-x-content--emailVerification) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto !important;
  background-color: #292929;
  border-radius: 12px;
  padding: 36px 0px;
  gap: 52px;
}

:global(.vtex-login-2-x-formTitle) {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
}

:global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button),
:global(.vtex-login-2-x-accessCodeOptionBtn) :global(.vtex-button) {
  background-color: transparent;
  border-color: #F5BE4B;
  text-transform: none;
  color: #F5BE4B;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
  padding: 10px 6px;
}
:global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button):hover,
:global(.vtex-login-2-x-accessCodeOptionBtn) :global(.vtex-button):hover {
  background-color: #F5BE4B;
  color: #292929;
}
:global(.vtex-login-2-x-inputContainerEmail) input,
:global(.vtex-login-2-x-inputContainerPassword) input {
  color: #FFFFFF;
}
:global(.vtex-login-2-x-formFooter) {
  border-top-style: none;
}
:global(.vtex-login-2-x-formFooter) :global(.vtex-button) {
  background-color: #F5BE4B;
  transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
  padding: 7.5px 0px;
  border: none;
}
:global(.vtex-login-2-x-formFooter) :global(.vtex-button) :global(.vtex-button__label) :global(.t-small) {
  color: #292929;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
}
:global(.vtex-login-2-x-formFooter) :global(.vtex-button):hover {
  background-color: #7B590F;
}
:global(.vtex-login-2-x-formFooter) :global(.vtex-button):hover 
:global(.vtex-button__label) :global(.t-small) {
  color: #FFFFFF;
}

:global(.vtex-login-2-x-content--emailAndPassword) :global(.vtex-login-2-x-optionsSticky),
:global(.vtex-login-2-x-content--emailAndPassword) :global(.vtex-login-2-x-emailAndPasswordForm) {
  background-color: #292929;
  border-radius: 8px;
  box-shadow:
  0px 4px 4px -4px rgba(12, 12, 13, 0.05),
  0px 16px 32px -4px rgba(12, 12, 13, 0.10);
}
:global(.vtex-login-2-x-content--emailAndPassword) :global(.vtex-login-2-x-loginOptionsContainer) :global(.vtex-login-2-x-optionsSticky) {
  padding: 32px 24px 10px 24px;
}
:global(.vtex-login-2-x-content--emailAndPassword) :global(.vtex-login-2-x-emailAndPasswordForm) {
  padding: 32px 24px 32px 24px;
}

:global(.vtex-login-2-x-content--emailAndPassword) {
  padding: 0;
}
:global(.vtex-login-2-x-content--emailVerification) :global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button) {
  width: auto;
}
:global(.vtex-login-2-x-inputContainerAccessCode) {
  color: #FFFFFF;
}

:global(.vtex-reviews-and-ratings-3-x-container) :global(.c-action-primary) {
  color: #FFFFFF;
}

:global(.vtex-reviews-and-ratings-3-x-container) :global(.vtex-dropdown__container) {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
:global(.vtex-reviews-and-ratings-3-x-writeReviewButton) {
  color: #F5BE4B !important;
}
:global(.vtex-reviews-and-ratings-3-x-formContainer) {
  background: transparent !important;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-card) {
  box-shadow: none;
  background-color: #292929;
}

:global(.vtex-numeric-stepper-wrapper) {
  background-color: #3F3F3F;
  border-radius: 4px;
}

:global(.relative.justify-center.flex) :global(.absolute.w-100.h-100.z-2) {
  background: #29292999 !important;
}

:global(.vtex-rich-text-0-x-heading--conheca-fazenda-titulo) {
  font-size: 50px;
}