/* CARD PRODUTO */
.buttonText--buy-button-shelf {
  font-size: 0; /* esconde o texto original */
  background: transparent;
  border-radius: 0;
  border: 0;
}

.buttonText--buy-button-shelf::before {
  content: "Comprar";
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  text-transform: initial;
  letter-spacing: 1px;
  color: #050505;
}


@media (max-width: 991px) {
  .buttonText--buy-button-shelf {
    font-size: 0;
  }
}

@media (max-width: 767px) {
  .buttonText--buy-button-shelf::before {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1px;
  }
}

@media (max-width: 360px) {
  .buttonText--buy-button-shelf::before {
    font-size: 12px;
    letter-spacing: 0.3px;
  }
}
