/* CARD PRODUTO */
.wishlistIconContainer :global(.vtex-button) {
  background: transparent;
  border: 0;
  min-height: initial;
  padding: 0;
  color: #ffffff;
}
.wishlistIconContainer :global(.vtex-button):hover,
.wishlistIconContainer :global(.vtex-button):focus,
.wishlistIconContainer :global(.vtex-button):active {
  background: transparent;
  color: #ffffff;
}
.wishlistIconContainer :global(.vtex-button__label) {
  padding: 0 !important;
}
.wishlistIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: transparent;
  font-size: 0;
  line-height: 0;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.wishlistIconContainer .outline,
.wishlistIconContainer .fill {
  background: transparent;
}

.wishlistIconContainer .outline::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.84 4.61C20.3292 4.09901 19.7228 3.69365 19.0554 3.41708C18.3879 3.14052 17.6725 2.99817 16.95 2.99817C16.2275 2.99817 15.5121 3.14052 14.8446 3.41708C14.1772 3.69365 13.5708 4.09901 13.06 4.61L12 5.67L10.94 4.61C9.9083 3.5783 8.50903 2.99871 7.05 2.99871C5.59096 2.99871 4.19169 3.5783 3.16 4.61C2.1283 5.64169 1.54871 7.04097 1.54871 8.5C1.54871 9.95903 2.1283 11.3583 3.16 12.39L4.22 13.45L12 21.23L19.78 13.45L20.84 12.39C21.351 11.8792 21.7563 11.2728 22.0329 10.6054C22.3095 9.93789 22.4518 9.22248 22.4518 8.5C22.4518 7.77752 22.3095 7.0621 22.0329 6.39464C21.7563 5.72718 21.351 5.12075 20.84 4.61Z' stroke='white' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  line-height: 0;
}

.wishlistIconContainer .fill::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.84 4.61C20.3292 4.09901 19.7228 3.69365 19.0554 3.41708C18.3879 3.14052 17.6725 2.99817 16.95 2.99817C16.2275 2.99817 15.5121 3.14052 14.8446 3.41708C14.1772 3.69365 13.5708 4.09901 13.06 4.61L12 5.67L10.94 4.61C9.9083 3.5783 8.50903 2.99871 7.05 2.99871C5.59096 2.99871 4.19169 3.5783 3.16 4.61C2.1283 5.64169 1.54871 7.04097 1.54871 8.5C1.54871 9.95903 2.1283 11.3583 3.16 12.39L4.22 13.45L12 21.23L19.78 13.45L20.84 12.39C21.351 11.8792 21.7563 11.2728 22.0329 10.6054C22.3095 9.93789 22.4518 9.22248 22.4518 8.5C22.4518 7.77752 22.3095 7.0621 22.0329 6.39464C21.7563 5.72718 21.351 5.12075 20.84 4.61Z' fill='%23FA0209'/%3E%3C/svg%3E");
  display: block;
  line-height: 0;
}

/* PÁGINA DO PRODUTO */
.wishlistIconContainer--add-to-list-btn-pdp :global(.vtex-button) {
  padding: 0;
}
