/* CARD PRODUTO */
.currencyLiteral {
  display: none;
}
.sellingPrice--selling-price-summary {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  font-weight: 700;
}
.installments--installments-summary {
  font-size: 14px;
  line-height: 20px;
}
.listPriceValue--list-price-summary {
  font-size: 12px;
  color: #979797;
  margin-right: 7px;
}
.spotPrice {
  color: #4F4F4F;
}

@media (max-width: 767px) {
  .sellingPrice--selling-price-summary {
    font-size: 22px;
    line-height: 26px;
  }

  .listPriceValue--list-price-summary {
    display: block;
    margin-right: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 360px) {
  .sellingPrice--selling-price-summary {
    font-size: 19px;
    line-height: 24px;
  }
}

/* PÁGINA DO PRODUTO */
.listPrice--list-price-pdp {
  color: #b1b1b1;
  font-size: 20px;
}
.sellingPrice--selling-price-pdp {
  display: block;
  margin: 15px 0;
}
.sellingPriceValue--selling-price-pdp {
  font-family: 'DM Sans', sans-serif;
  display: block;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #FFFFFF;
}
.sellingPriceValue--selling-price-pdp::before {
  content: "Preço máximo: ";
}
.installments--installments-pdp {
  font-size: 15px;
  color: #5d5d5d;
}
