.header {
  width: 100%;
  position: relative;
  z-index: auto;
  background: var(--header-bg, #050505);
  transition: background .3s ease;
}

.headerDefault {}

@media (min-width: 1025px) {
  .headerHome {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: transparent;
  }
}
